.frame-35 .music {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #000000;
}
.frame-35 {
  border-radius: 158px;
  background: #FFFFFF;
  display: flex;
  padding: 72px 1.6px 73px 0;
  box-sizing: border-box;
}
