.frame-15 .container-1 {
  width: 296px;
  height: 304px;
}
.frame-15 .container {
  display: flex;
  width: 296px;
  height: 304px;
  box-sizing: border-box;
}
.frame-15 .container-2 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_21.png') 50% / cover no-repeat;
  position: relative;
  margin-bottom: 179px;
  display: flex;
  padding: 762px 18px 52px 18px;
  width: 1010px;
  height: 1118px;
  box-sizing: border-box;
}
.frame-15 .daily-mix-2 {
  margin-right: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.frame-15 {
  border-radius: 50px;
  background: #858585;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 127px 121px 199.3px 121px;
  width: 1252px;
  box-sizing: border-box;
}
