.mac-book-air-1 .vector-2 {
  width: 278.1px;
  height: 86.6px;
}
.mac-book-air-1 .iconellipses {
  margin: 0 34.5px 131.8px 0;
  display: flex;
  width: 278.1px;
  height: 86.6px;
  box-sizing: border-box;
}
.mac-book-air-1 .vector {
  width: 317.8px;
  height: 346.4px;
}
.mac-book-air-1 .iconhome {
  display: flex;
  width: 317.8px;
  height: 346.4px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-1 {
  border-radius: 59px;
  background: #1E1E1E;
  position: relative;
  margin-bottom: 106px;
  display: flex;
  padding: 150.4px 35.3px 0 0;
  width: 737px;
  height: 1004px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-16 {
  border-radius: 29px;
  background: url('../assets/images/rectangle_19.png') 50% / cover no-repeat;
  position: relative;
  width: 449.6px;
  height: 413px;
}
.mac-book-air-1 .frame-7 {
  border: 29px solid #1E1E1E;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 518px;
  height: 452.1px;
}
.mac-book-air-1 .group-5 {
  position: relative;
  margin: 0 1px 180px 0;
  display: flex;
  padding: 39.1px 34.2px 0 34.2px;
  width: 518px;
  height: 452.1px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-10 {
  border-radius: 20px;
  background: url('../assets/images/rectangle_241.png') 50% / cover no-repeat;
  width: 434px;
  height: 452.1px;
}
.mac-book-air-1 .group-2 {
  margin: 0 1px 155.9px 0;
  display: flex;
  width: 434px;
  height: 452.1px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-11 {
  border-radius: 20px;
  background: url('../assets/images/rectangle_24.png') 50% / cover no-repeat;
  width: 434px;
  height: 452.1px;
}
.mac-book-air-1 .group-3 {
  margin: 0 0 138.9px 7px;
  display: flex;
  width: 434px;
  height: 452.1px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-13 {
  border-radius: 20px;
  background: url('../assets/images/rectangle_25.png') 50% / cover no-repeat;
  position: relative;
  width: 434px;
  height: 452.1px;
}
.mac-book-air-1 .rectangle-14 {
  border-radius: 20px;
  background: url('../assets/images/rectangle_26.png') 50% / cover no-repeat;
  width: 434px;
  height: 451px;
}
.mac-book-air-1 .frame-13 {
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  padding: 0 51px;
  width: 561px;
  height: 501.2px;
  box-sizing: border-box;
}
.mac-book-air-1 .group-7 {
  position: relative;
  margin-bottom: 143.9px;
  display: flex;
  align-self: flex-end;
  padding: 49.1px 1px 0px 0;
  width: 561px;
  height: 501.2px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-12 {
  border-radius: 20px;
  background: url('../assets/images/rectangle_12.png') 50% / cover no-repeat;
  width: 434px;
  height: 452.1px;
}
.mac-book-air-1 .group-6 {
  margin: 0 0 160.8px 65px;
  display: flex;
  width: 434px;
  height: 452.1px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-23 {
  background: url('../assets/images/rectangle_26.png') 50% / cover no-repeat;
  width: 434px;
  height: 451px;
}
.mac-book-air-1 .group-9 {
  margin: 0 0 218px 41px;
  display: flex;
  width: 434px;
  height: 451px;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-1 {
  margin-right: 18px;
  width: 409px;
  height: 417px;
}
.mac-book-air-1 .container-3 {
  border-radius: 59px;
  background: #1E1E1E;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 82px 67px 352px 67px;
  width: 737px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-14 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 737px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .vector-1 {
  width: 288.1px;
  height: 346.4px;
}
.mac-book-air-1 .iconmagnifying-glass {
  position: absolute;
  top: 1137.6px;
  right: 289px;
  display: flex;
  width: 288.1px;
  height: 346.4px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-4 {
  background: #000000;
  position: relative;
  display: flex;
  padding: 249.6px 61px 107px 61px;
  width: 894px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-36 {
  border-radius: 60px;
  background: #1E1E1E;
  position: absolute;
  left: 0px;
  top: 131px;
  width: 8116px;
  height: 6056px;
}
.mac-book-air-1 .all {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-32 {
  border-radius: 158px;
  background: #393737;
  display: flex;
  padding: 72px 0 73px 7.5px;
  width: 512px;
  box-sizing: border-box;
}
.mac-book-air-1 .music {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-34 {
  border-radius: 158px;
  background: #393737;
  display: flex;
  padding: 72px 1.6px 73px 0;
  width: 683px;
  box-sizing: border-box;
}
.mac-book-air-1 .product {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-8 {
  border-radius: 158px;
  background: #393737;
  display: flex;
  padding: 72px 14.8px 73px 0;
  width: 804px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-13 {
  position: relative;
  margin: 0 16px 200px 16px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 90px;
  width: 2179px;
  box-sizing: border-box;
}
.mac-book-air-1 .liked-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .liked-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-9 {
  border-radius: 34px;
  background: #393737;
  position: absolute;
  left: 0px;
  top: 0.3px;
  right: 0px;
  bottom: 0px;
  padding: 107.5px 0 130.4px 0;
  height: 100%;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-19 {
  border-radius: 36px;
  background: url('../assets/images/rectangle_19.png') 50% / cover no-repeat;
  position: relative;
  width: 407px;
  height: 392.9px;
}
.mac-book-air-1 .group-13 {
  position: relative;
  margin: 11px 169px 0.7px 0;
  padding-bottom: 0.3px;
  width: 1768px;
  height: 393.2px;
  box-sizing: border-box;
}
.mac-book-air-1 .english-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .english-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-20 {
  border-radius: 34px;
  background: #393737;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 119.3px 0 118.7px 0;
  height: 100%;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-24 {
  border-radius: 36px;
  background: url('../assets/images/rectangle_241.png') 50% / cover no-repeat;
  position: relative;
  width: 407px;
  height: 392.9px;
}
.mac-book-air-1 .group-14 {
  position: relative;
  margin: 12px 168px 0 0;
  width: 1768px;
  height: 392.9px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-241 {
  background: url('../assets/images/rectangle_24.png') 50% / cover no-repeat;
  margin-right: 48px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .hindi-songs {
  margin: 107.5px 0 129.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-21 {
  border-radius: 34px;
  background: #393737;
  display: flex;
  flex-direction: row;
  padding-bottom: 0.9px;
  width: 1768px;
  box-sizing: border-box;
}
.mac-book-air-1 .group-15 {
  border-radius: 34px;
  margin: 12px 187px 0 0;
  display: flex;
  width: 1768px;
  box-sizing: border-box;
}
.mac-book-air-1 .panjabi-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-25 {
  background: url('../assets/images/rectangle_25.png') 50% / cover no-repeat;
  position: absolute;
  left: -13px;
  top: -11px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .frame-22 {
  border-radius: 34px;
  background: #393737;
  position: relative;
  display: flex;
  padding: 107.5px 0 130.4px 26.8px;
  width: 1768px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-16 {
  border-radius: 34px;
  margin-bottom: 12px;
  display: flex;
  width: 1768px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container-5 {
  position: relative;
  margin: 0 0 173.1px 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .gujarati-songs {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-26 {
  background: url('../assets/images/rectangle_26.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -11px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .frame-23 {
  border-radius: 34px;
  background: #393737;
  position: relative;
  display: flex;
  padding: 107.5px 0 130.4px 61.9px;
  width: 1768px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-17 {
  border-radius: 34px;
  margin-right: 169px;
  display: flex;
  width: 1768px;
  box-sizing: border-box;
}
.mac-book-air-1 .this-is-bts {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-27 {
  background: url('../assets/images/rectangle_27.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -11px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .frame-24 {
  border-radius: 34px;
  background: #393737;
  position: relative;
  display: flex;
  padding: 107.5px 164.7px 130.4px 0;
  width: 1768px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-18 {
  border-radius: 34px;
  margin-right: 168px;
  display: flex;
  width: 1768px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-28 {
  background: url('../assets/images/rectangle_28.png') 50% / cover no-repeat;
  margin-right: 48px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .mr-and-mrs-mahi-original-motion {
  margin: 30px 0 52px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-25 {
  border-radius: 34px;
  background: #393737;
  display: flex;
  flex-direction: row;
  padding: 0 148.4px 0.9px 0;
  box-sizing: border-box;
}
.mac-book-air-1 .group-19 {
  border-radius: 34px;
  margin-right: 187px;
  display: flex;
  box-sizing: border-box;
}
.mac-book-air-1 .please-dont-changefeat-jungkook {
  position: absolute;
  right: 89.7px;
  bottom: -2.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 120px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-29 {
  background: url('../assets/images/rectangle_29.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: -11px;
  width: 407px;
  height: 392px;
}
.mac-book-air-1 .frame-26 {
  border-radius: 34px;
  background: #393737;
  position: relative;
  width: 1768px;
  height: 392.9px;
}
.mac-book-air-1 .group-20 {
  border-radius: 34px;
  display: flex;
  width: 1768px;
  height: 392.9px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-6 {
  position: relative;
  margin: 0 0 152.9px 16px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .made-for-us {
  position: relative;
  margin: 0 16px 74.1px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 140px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-20 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_20.png') 50% / cover no-repeat;
  margin-bottom: 180px;
  width: 1010px;
  height: 1118px;
}
.mac-book-air-1 .daily-mix-1 {
  margin-right: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-14 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 132px 124px 193.3px 124px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-21 {
  border-radius: 50px;
  margin: 47px 336px 0 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-21 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_21.png') 50% / cover no-repeat;
  margin-bottom: 179px;
  width: 1010px;
  height: 1118px;
}
.mac-book-air-1 .daily-mix-2 {
  margin-right: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-15 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 127px 121px 199.3px 121px;
  width: 1252px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-23 {
  border-radius: 50px;
  margin: 40px 365px 7px 0;
  display: flex;
  width: 1252px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-22 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_22.png') 50% / cover no-repeat;
  margin-bottom: 165px;
  width: 1010px;
  height: 1118px;
}
.mac-book-air-1 .daily-mix-3 {
  margin-right: 0.9px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-16 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 147px 121px 193.3px 121px;
  width: 1252px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-24 {
  border-radius: 50px;
  margin: 0 294px 47px 0;
  display: flex;
  width: 1252px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-201 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_201.png') 50% / cover no-repeat;
  margin-bottom: 170px;
  width: 1010px;
  height: 1118px;
}
.mac-book-air-1 .daily-mix-4 {
  margin-right: 0.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-27 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 132px 124px 203.3px 124px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-25 {
  border-radius: 50px;
  margin: 47px 323px 0 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-202 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_202.png') 50% / cover no-repeat;
  margin-bottom: 198px;
  width: 1010px;
  height: 1118px;
}
.mac-book-air-1 .daily-mix-5 {
  margin-right: 0.8px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-28 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 132px 124px 175.3px 124px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-26 {
  border-radius: 50px;
  margin: 40px 0 7px 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container {
  position: relative;
  margin: 0 0 134.7px 16px;
  display: flex;
  flex-direction: row;
  width: 7596px;
  box-sizing: border-box;
}
.mac-book-air-1 .your-favorite-artists {
  position: relative;
  margin: 0 16px 117px 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 140px;
  color: #FFFFFF;
}
.mac-book-air-1 .ellipse-5 {
  margin-bottom: 176px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .arijit-singh {
  margin-right: 0.1px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-17 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 90px 218.3px 90px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-22 {
  border-radius: 50px;
  margin: 3px 346px 0 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-51 {
  margin-bottom: 162px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .pritam {
  margin: 0 298.6px 0 298px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .ellipse-51 {
  margin-bottom: 162px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .pritam {
  margin: 0 298.6px 0 298px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-18 {
  border-radius: 50px;
  background: #393737;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 117px 90px 0 90px;
  height: 100%;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-55 {
  margin-bottom: 162px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .pritam-1 {
  margin-right: 0.6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-181 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 117px 90px 229.3px 90px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-32 {
  border-radius: 50px;
  position: relative;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-27 {
  border-radius: 50px;
  position: relative;
  margin: 0 359px 3px 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-52 {
  margin: 0 21.7px 150px 0;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .sachet-tandon {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-19 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 161px 68.3px 197.3px 90px;
  box-sizing: border-box;
}
.mac-book-air-1 .group-28 {
  border-radius: 50px;
  margin: 0 311px 3px 0;
  display: flex;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-53 {
  margin-bottom: 187px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .iqlipse-nova {
  margin-left: 82.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-29 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 90px 207.3px 90px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-29 {
  border-radius: 50px;
  margin: 0 303px 3px 0;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-54 {
  margin-bottom: 186px;
  width: 1078px;
  height: 1088px;
}
.mac-book-air-1 .jung-kook {
  margin-right: 41.4px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .frame-30 {
  border-radius: 50px;
  background: #393737;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 90px 208.3px 90px;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-30 {
  border-radius: 50px;
  margin-bottom: 3px;
  display: flex;
  width: 1258px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container-12 {
  position: relative;
  margin-right: 3px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container-20 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 198px 511px 201.7px 208px;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-2 {
  background: #000000;
  width: 2796px;
  height: 6294px;
}
.mac-book-air-1 .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-1 .be {
  margin: 0 1888.7px 170px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 200px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-17 {
  border-radius: 54px;
  background: url('../assets/images/rectangle_38.png') 50% / cover no-repeat;
  margin-bottom: 82px;
  width: 2473px;
  height: 2106px;
}
.mac-book-air-1 .dynamite {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 200px;
  color: #FFFFFF;
}
.mac-book-air-1 .bts {
  margin-bottom: 69px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-31 {
  border-radius: 48px 48px 0 0;
  background: url('../assets/images/rectangle_31.png') 50% / cover no-repeat;
  width: 2473px;
  height: 1354px;
}
.mac-book-air-1 .bts-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 160px;
  color: #FFFFFF;
}
.mac-book-air-1 .container-16 {
  border-radius: 0 0 48px 48px;
  background: #393737;
  position: relative;
  margin-bottom: 103px;
  padding: 54px 71px 53px 71px;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .next-in-queue {
  margin-bottom: 137.8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 160px;
  color: #FFFFFF;
}
.mac-book-air-1 .rectangle-34 {
  border-radius: 50px;
  background: url('../assets/images/rectangle_34.png') 50% / cover no-repeat;
  margin-right: 122.5px;
  width: 489px;
  height: 452.1px;
}
.mac-book-air-1 .boy-with-luv {
  margin-bottom: 0.5px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 160px;
  color: #FFFFFF;
}
.mac-book-air-1 .bts-halsey {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .container-10 {
  margin: 31.1px 0 71.5px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-air-1 .container-2 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .group-31 {
  border-radius: 50px;
  background: #393737;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 62.2px 0 102.2px 101.9px;
  width: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container-9 {
  border-radius: 60px;
  background: #1E1E1E;
  position: absolute;
  right: 104px;
  bottom: 113px;
  display: flex;
  flex-direction: column;
  padding: 137px 146px 91.7px 148px;
  box-sizing: border-box;
}
.mac-book-air-1 .container-18 {
  position: relative;
  display: flex;
  box-sizing: border-box;
}
.mac-book-air-1 .rectangle-38 {
  border-radius: 40px;
  background: url('../assets/images/rectangle_38.png') 50% / cover no-repeat;
  margin-right: 194px;
  width: 776px;
  height: 741px;
}
.mac-book-air-1 .dynamite-1 {
  margin-bottom: 33px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 150px;
  color: #FFFFFF;
}
.mac-book-air-1 .bts-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 140px;
  color: #FFFFFF;
}
.mac-book-air-1 .container-7 {
  margin: 156px 0 201px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.mac-book-air-1 .container-11 {
  margin-bottom: 37px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-1 .container {
  margin: 515px 158.3px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .ellipse-7 {
  border-radius: 200px;
  background: #FFFFFF;
  margin: 0 203px 173px 0;
  width: 400px;
  height: 400px;
}
.mac-book-air-1 .rectangle-39 {
  background: #A2A0A0;
  position: relative;
  width: 5119px;
  height: 66px;
}
.mac-book-air-1 .container-15 {
  margin: 0 158px 62px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5119px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .container-1 {
  margin-top: 546px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 128px;
  color: #FFFFFF;
}
.mac-book-air-1 .container-8 {
  margin-top: 77px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.mac-book-air-1 .container-21 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8501.1px;
  height: fit-content;
  box-sizing: border-box;
}
.mac-book-air-1 .ellipse-9 {
  position: absolute;
  left: 2991px;
  bottom: 156px;
  width: 942px;
  height: 60px;
}
.mac-book-air-1 .container-19 {
  background: #393737;
  position: relative;
  padding: 68px 96px 88px 96px;
  width: 12021px;
  box-sizing: border-box;
}
.mac-book-air-1 {
  background: 4BCF40;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 667px 276px 667px 206px;
  width: 12503px;
  box-sizing: border-box;
}
